.bananer img{ 
	height:480px; 	
	width: 100%;
	text-align:center; 
	overflow:hidden;
	vertical-align:middle;
}
.service{ background:url(../images/Service_bg.png)  repeat-y; background-position:center;border-top:3px solid #CC0000;}
